body {
    background: linear-gradient(119.65deg, #000000 64.07%, #242424 85.4%);
    background-position: center;
    color: white;
  }
  form {
    max-width: 850px;
    margin: auto;
  }
  
  .card {
    backdrop-filter: blur(10px) saturate(180%) !important;
    -webkit-backdrop-filter: blur(10px) saturate(180%) !important;
    background-color: rgba(0, 0, 0, 0.9) !important; /* Solid Black */
    border-radius: 12px !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    color: white !important; /* Text white */
    box-sizing: content-box !important;
  }
  
  .form-control {
    background-color: rgba(50, 50, 50, 1) !important; /* Dark Grey */
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
  }
  
  ::placeholder {
    color: white !important;
  }
  
  .form-label {
    color: white;
  }
  
  .btn-primary {
    display: inline-block;
    width: auto;
    padding: 12px 24px;
    font-size: 16px;
    background-color: #333;
    color: #6363cd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background: linear-gradient(90deg, #ffffff 0%, #9ca3af 100%);
  }
  
  .form-check-input {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }
  .form-select {
    background-color: rgba(255, 255, 255, 0.2);
    color: black !important;
    border: 1px solid #ccc;
  }
  
  .form-select:focus {
    background-color: white !important;
    color: white !important;
    border-color: #666;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .custom-dropdown {
    background-color: rgba(70, 70, 70, 0.8);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .custom-dropdown option:first-child {
    color: white !important;
    font-style: normal;
  }
  
  .custom-dropdown:focus {
    background-color: black !important;
    color: white !important;
    border-color: #666;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-check-input {
    transform: scale(1);
  }
  
  #header-text {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 1000;
    padding: 15px 0;
  }
  
  body {
    padding-top: 100px;
  }
  
  .progress {
    width: 100%;
  }
  
  .progress-container {
    width: 80%;
    margin: auto;
    position: absolute;
  }
  
  .progress-labels {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -25px !important;
    width: 100%;
    font-weight: bold;
    color: whitesmoke;
  }
  
  .progress {
    background-color: #374151 !important;
    height: 8px !important;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-bar {
    background-color: white !important; /* White Progress */
    transition: width 0.4s ease-in-out;
  }
  
  .form-container {
    max-width: 700px; /* Adjust width as per need */
    margin: auto;
    background-color: white; /* Change background color if needed */
    padding: 20px;
    border-radius: 10px;
  }
  .form-container {
    border: 1px solid #ccc; /* Light border */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  .selector-for-some-widget {
      box-sizing: content-box;
    }